<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Deno Exploration</title>
</head>

<body>
    <div id="root">
        <section class="hero">
            <div class="hero__content">
                <h1 class="hero__content_title">
                    Whoops! That route was not found!
                </h1>
                <div class="hero__content__image">
                </div>
            </div>
        </section>
    </div>
</body>

</html>